<div class="card todo-card shadow-lg mt-4">
  <div class="card-body p-4">

    <h4 class=" mb-4 text-primary fw-bold">
      {{ isInEditMode ? ' Edit Todo' : ' Add New Todo' }}
    </h4>

    <form #todoForm="ngForm"
          (ngSubmit)="isInEditMode ? updateTodo() : addTodo()">
       <label for="todoItem">Todo Item</label>
      <div class="form-floating mb-4">
        <input
          type="text"
          class="form-control"
          id="todoItem"
          name="todoItem"
          ngModel
          required
          placeholder="Todo">
       
      </div>

      <div class="d-grid">
        <button
          mat-raised-button
          color="primary"
          type="submit">
          {{ isInEditMode ? 'Update Todo' : 'Add Todo' }}
        </button>
      </div>

    </form>

  </div>
</div>
