<div class="container mt-3">
  

 <div class="row">
    <div class="col-md-6">
      <app-todo-dashboard1></app-todo-dashboard1>
    </div>
    <div class="col-md-6">
      <app-todo-list1></app-todo-list1>
    </div>
  </div>
  <br>
<hr>
 <div class="row">
    <div class="col-md-6">
      <app-todo-dashboard2></app-todo-dashboard2>
    </div>
    <div class="col-md-6">
      <app-todo-list2></app-todo-list2>
    </div>
  </div>


    <br>
<hr>
 <div class="row">
    <div class="col-md-6">
      <app-todo-dashboard3></app-todo-dashboard3>
    </div>
    <div class="col-md-6">
      <app-todo-list3></app-todo-list3>
    </div>
  </div>

      <br>
<hr>
 <div class="row">
    <div class="col-md-6">
      <app-todo-dashboard4></app-todo-dashboard4>
    </div>
    <div class="col-md-6">
      <app-todo-list4></app-todo-list4>
    </div>
  </div>

</div>
